@namespace WebVella.BlazorTrace
@using WebVella.BlazorTrace.Utility
@inherits WvBlazorTraceComponentBase
@if (_modalVisible && _row is not null)
{
	<div title="click to close [Esc]" class="wv-trace-overlay secondary" @onclick=@(()=> Hide(false))></div>
	<div class="wv-trace-modal secondary">
		<div class="wv-trace-modal__header">
			<div class="wv-trace-modal__header__left" style="flex:1 1 auto;">@((MarkupString)_getTitle())</div>
			<div class="wv-trace-modal__header__right">
				<button title="Close [Esc]" type="button" class="circle icon" @onclick=@(()=> Hide(false))>X</button>
			</div>
		</div>
		<div class="wv-trace-modal__body">
			<table>
				<thead>
					<tr>
						<th>field</th>
						<th>type</th>
						<th>assembly</th>
						<th>memory</th>
						<th>change</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in _items.OrderByDescending(x => x.SecondarySnapshotBytes))
					{
						<tr @key="@Guid.NewGuid()">
							<td>@item.FieldName</td>
							<td class="wv-tag">@item.TypeName</td>
							<td>@item.AssemblyName</td>
							<td class="wv-number">@item.SecondarySnapshotBytes.WvBTToKilobytesString()</td>
							<td class="wv-number">@((MarkupString)item.ChangeKBHtml)</td>
						</tr>
					}

					@if (_items.Count == 0)
					{
						<tr>
							<td colspan="5" style="padding:30px;text-align:center;">Memory info is presented only if the current snapshot is selected as secondary</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="wv-trace-modal__footer">
			<button title="Close [Esc]" type="button" @onclick=@(()=> Hide(false))>Close [Esc]</button>
		</div>
	</div>
}




