@namespace WebVella.BlazorTrace
@using WebVella.BlazorTrace.Utility
@inherits WvBlazorTraceComponentBase
@if (_row is not null && _modalVisible)
{
	<div title="click to close (Esc)" class="wv-trace-overlay secondary" @onclick=@(()=> Hide(false))></div>
	<div class="wv-trace-modal secondary">
		<div class="wv-trace-modal__header">
			<div class="wv-trace-modal__header__left" style="flex:1 1 auto;">@((MarkupString)_getTitle())</div>
			<div class="wv-trace-modal__header__right">
				<button title="Close (Esc)" type="button" class="circle icon" @onclick=@(()=> Hide(false))>X</button>
			</div>
		</div>
		<div class="wv-trace-modal__body">
			<table>
				<thead>
					<tr>
						<th rowspan="2">duration</th>
						<th colspan="5">enter</th>
						<th colspan="5">exit</th>
					</tr>
					<tr>
						<th>timestamp</th>
						<th>memory</th>
						<th>custom data</th>
						<th>first render</th>
						<th>limits</th>
						<th>timestamp</th>
						<th>memory</th>
						<th>custom data</th>
						<th>first render</th>
						<th>limits</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in _row.TraceList.OrderByDescending(x => x.DurationMs))
					{
						<tr @key="@Guid.NewGuid()">
							<td class="wv-number">@item.DurationMs.ToDurationMSString()</td>
							<td class="wv-number">@item.EnteredOn?.ToString(WvConstants.TimestampFormat) ms</td>
							<td class="wv-number clickable" @onclick=@(() => _showMemoryModal(item.OnEnterMemoryInfo))>
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
										<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
									</svg>
								</div>
								<div>
									@item.OnEnterMemoryBytes.ToKilobytesString()
								</div>
							</td>
							<td class="wv-tag">@item.OnEnterCustomData</td>
							<td>@item.OnEnterFirstRender.GetFirstRenderString()</td>
							<td>@((MarkupString)item.OnEnterLimitsHTML)</td>
							<td class="wv-number">@item.ExitedOn?.ToString(WvConstants.TimestampFormat) ms</td>
							<td class="wv-number clickable" @onclick=@(() => _showMemoryModal(item.OnExitMemoryInfo))>
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
										<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
									</svg>
								</div>
								<div>
									@item.OnExitMemoryBytes.ToKilobytesString()
								</div>
							</td>
							<td class="wv-tag">@item.OnExitCustomData</td>
							<td>@item.OnExitFirstRender.GetFirstRenderString()</td>
							<td>@((MarkupString)item.OnExitLimitsHTML)</td>
						</tr>
					}

					@if (_row.TraceList.Count == 0)
					{
						<tr>
							<td colspan="11" style="padding:30px;text-align:center;">No tracers are logged yet for this method</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="wv-trace-modal__footer">
			<button title="Close [Esc]" type="button" @onclick=@(()=> Hide(false))>Close [Esc]</button>
		</div>
	</div>
	<WvBlazorMemoryModal @ref=_memoryModal />
}





