@namespace WebVella.BlazorTrace
@using WebVella.BlazorTrace.Utility
@inherits WvBlazorTraceComponentBase
@if (_modalVisible && _row is not null)
{
	var style = $"z-index:{(20000 + (2 * NestLevel))}";
	<WvBlazorTraceModalOverlay NestLevel="@NestLevel" OnHide="@(()=> Hide(false))" />
	<div class="wv-trace-modal medium" style="@style">
		<div class="wv-trace-modal__header">
			<div class="wv-trace-modal__header__left" style="flex:1 1 auto;">@((MarkupString)_getTitle())</div>
			<div class="wv-trace-modal__header__right">
				<button title="Close [Esc]" type="button" class="circle icon" @onclick=@(()=> Hide(false))>X</button>
			</div>
		</div>
		<div class="wv-trace-modal__body">
			<table>
				<thead>
					<tr>
						<th>limit type</th>
						<th class="wv-number">limit</th>
						<th class="wv-number">actual</th>
					</tr>
				</thead>
				<tbody>
					<Virtualize Items="_row.LimitHits" Context="item"
								TItem="WvTraceSessionLimitHit">
						<tr @key="@Guid.NewGuid()">
							<td>@item.Type.WvBTToDescriptionString()</td>
							<td class="wv-number">@item.Limit.GetLimitValueAsString(item.Type)</td>
							<td class="wv-number">@item.Actual.GetLimitValueAsString(item.Type)</td>
						</tr>
					</Virtualize>
					@if (_row.LimitHits.Count == 0)
					{
						<tr>
							<td colspan="3" style="padding:30px;text-align:center;">No tracers are logged yet for this method</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="wv-trace-modal__footer">
			<button title="Close [Esc]" type="button" @onclick=@(()=> Hide(false))>Close [Esc]</button>
		</div>
	</div>
}




