@namespace WebVella.BlazorTrace
@using WebVella.BlazorTrace.Utility
@inherits WvBlazorTraceComponentBase
@if (_modalVisible && _row is not null)
{
	var style = $"z-index:{(20000 + (2 * NestLevel))}";
	<WvBlazorTraceModalOverlay NestLevel="@NestLevel" OnHide="@(()=> Hide(false))" />
	<div class="wv-trace-modal medium" style="@style">
		<div class="wv-trace-modal__header">
			<div class="wv-trace-modal__header__left" style="flex:1 1 auto;">@((MarkupString)_getTitle())</div>
			<div class="wv-trace-modal__header__right">
				<button title="Close [Esc]" type="button" class="circle icon" @onclick=@(()=> Hide(false))>X</button>
			</div>
		</div>
		<div class="wv-trace-modal__body">
			<table>
				<thead>
					<tr>
						<th style="width:40px"></th>
						<th>field</th>
						<th>type</th>
						<th>assembly</th>
						<th>memory</th>
						<th>change</th>
					</tr>
				</thead>
				<tbody>
					<Virtualize Items="_items.OrderByDescending(x => x.SecondarySnapshotBytes).ToList()" Context="item"
								TItem="WvSnapshotMemoryComparisonDataField">
						<tr @key="@Guid.NewGuid()">
							<td class="wv-button">
								<button type="button" class="icon wv-mute" title="mute trace" @onclick=@(()=>_onMute(item))>
									<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
										<path d="M5.164 14H15c-.299-.199-.557-.553-.78-1-.9-1.8-1.22-5.12-1.22-6q0-.396-.06-.776l-.938.938c.02.708.157 2.154.457 3.58.161.767.377 1.566.663 2.258H6.164zm5.581-9.91a4 4 0 0 0-1.948-1.01L8 2.917l-.797.161A4 4 0 0 0 4 7c0 .628-.134 2.197-.459 3.742q-.075.358-.166.718l-1.653 1.653q.03-.055.059-.113C2.679 11.2 3 7.88 3 7c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0c.942.19 1.788.645 2.457 1.284zM10 15a2 2 0 1 1-4 0zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75z" />
									</svg>
								</button>
							</td>
							<td>@item.FieldName</td>
							<td class="wv-tag">@item.TypeName</td>
							<td>@item.AssemblyName</td>
							<td class="wv-number">@item.SecondarySnapshotBytes.WvBTToKilobytesString()</td>
							<td class="wv-number">@((MarkupString)item.ChangeKBHtml)</td>
						</tr>
					</Virtualize>
					@if (_items.Count == 0)
					{
						<tr>
							<td colspan="6" style="padding:30px;text-align:center;">Memory info is presented only if the current snapshot is selected as secondary</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="wv-trace-modal__footer">
			<button title="Close [Esc]" type="button" @onclick=@(()=> Hide(false))>Close [Esc]</button>
		</div>
	</div>
	<WvBlazorTraceMuteMemoryModal @ref=_traceMuteModal NestLevel="1" OnChange="_muteChanged"/>
}




